@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #000000;
  background-color: #FFFFFF;
}

@layer utilities {
  .section-spacing {
    @apply py-20 md:py-24 lg:py-28;
  }

  .section-spacing-sm {
    @apply py-12 md:py-16 lg:py-20;
  }

  .container-padding {
    @apply px-4 sm:px-6 md:px-8 lg:px-12 xl:px-16;
  }
}
